/* start var */
:root {
  --main-color: #10cab7;
  --secandary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.3s;
}

/* end var*/
/* Start global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

html {
  -ms-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth; 
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;

}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*End global Rules*/
/*start componans*/
.special-heading {
  text-align: center;
  font-size: 100px;
  color: #ebeced;
  font-weight: 800;
  margin: 0;
  letter-spacing: -3px;
}

.special-heading+p {
  text-align: center;
  margin-top: -30px;
  color: #777;
  margin-bottom: 100px;
  font-size: 20px;
}

@media (max-width:767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading+p {
    margin-top: -20px;
  }
}

/*end componans*/

/* start header */

header .container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header .logo {
  width: 60px;
}

header .links {
  position: relative;
}

header .links:hover ul {
  display: block
}

header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 10px;
}

header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

header .links .icon span:first-child {
  width: 100%;
}

header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration)
}

header .links .icon span:last-child {
  width: 100%;
}

.links ul {
  position: absolute;
  right: 0;
  top: calc(100%+15px);
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--section-background);
  min-width: 200px;
  display: none;
  z-index: 1;
}

.links ul:before {
  content: "";
  position: absolute;
  right: 5px;
  top: -20px;
  border-color: transparent transparent var(--section-background) transparent;
  border-style: solid;
  border-width: 10px;

}

.links ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px;
  display: block;
  transition: var(--main-duration);
}

.links ul li a:hover {
  padding-left: 30px
}

.links ul li:not(:last-child) {
  border-bottom: 1px #ddd solid;
}

/* end header */
/*start landing*/
.landing {
  background-image: url(../imags/landing.jpg);
  position: relative;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.landing h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  width: 100%;
  text-align: center;
  margin: 0;
}

.landing .intro-text {
  line-height: 1.8;
  font-size: 19px;
  width: 320px;
  max-width: 100%;
  text-align: center;
}

/*end landing*/
/*start the section of features*/
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.feat {
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;

}

.feat h3 {
  font-family: 800;
  margin: 30px 0;
}

.feat p {
  line-height: 1.8;
  font-size: 18px;
  color: #777;
}

.feat i {
  color: var(--main-color);
}

/*end the section of features*/
/*start servieces*/
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services-content .svr {
  display: flex;
  margin-bottom: 40px;

}

@media (max-width:767px) {
  .services-content .svr {
    flex-direction: column;
    text-align: center
  }
}

.services-content .svr i {
  color: var(--main-color);
  flex-basis: 60px;
  padding-right: 10px;
}



.services .services-content .srv .text {
  flex: 1;
}

.services-content .svr .text h3 {

  margin: 0 0 20px;
}

.services-content .svr p {
  line-height: 1.6;
  max-width: 100%;
  color: #444;
  font-weight: 300;
}

.services .container .image {
  text-align: center;
  position: relative;
}

.services .container .image::before {
  content: "";
  background-color: var(--secandary-color);
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  right: 0px;
  top: -50px;
  z-index: -1;
}

@media (max-width:1199px) {
  .services .container .image {
    display: none;
  }
}

img {
  width: 260px;
}

/*end servieces*/
/* start the section of Portfolio */
.Portfolio {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.Portfolio .container .Portofolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}

.Portfolio .container .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 397px;


}

.Portfolio .container .card .info {
  padding: 20px;

}

@media (max-width:767px) {
  .Portfolio .container .card .info {
    text-align: center;
  }
}

.Portfolio .container .card .info h3 {
  margin: 0;
}

.Portfolio .container .card .info p {
  line-height: 1.6;
  color: #777;
}

.Portfolio .container .card img {
  width: 100%;

}

/* end the section of Portfolio */
/* start the section of About  */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

.about .about-content .image img {
  width: 250px;
  height: 375px;
}

.about .about-content .image::before {
  content: '';
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about .about-content .image::after {
  content: '';
  position: absolute;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  width: 120px;
  height: 312px;
  top: -40px;
  right: -150px;
  z-index: -1;
}

@media (max-width:992px) {
  .about .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about .about-content .image::after {
    display: none;
  }

  .about .about-content .image::before {
    display: none;
  }
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-child {
  font-weight: bold;
  padding-bottom: 35px;
  line-height: 2;

}

.about .about-content .text hr {
  border-color: var(--main-color);
  width: 50%;
  display: inline-block;
}

.about .about-content .text p:last-child {
  line-height: 2;
  color: #777;
}

/* end the section of About  */
/* start the section of contact  */
.contact {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .content-contact {
  line-height: 1.6;
}

.contact .content-contact .info {
  text-align: center;

}

.contact .content-contact .info p:first-child {
  margin: 0;
  color: var(--secandary-color);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

@media (max-width:767px) {

  .contact .content-contact .info p:first-child,
  .contact .content-contact .info a {
    font-size: 25px;
  }
}

.contact .content-contact a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.contact .content-contact .social {
  padding-bottom: var(--section-padding);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.contact .content-contact .social i {
  margin-left: 10px;
  color: var(--secandary-color);
}

/* end the section of contact */
/* Start Footer */
footer {
  background-color: var(--secandary-color);
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  text-align: center;
  padding: 30px 10px;
  color: white;
  font-size: 18px;
}

footer .end span {
  color: var(--main-color);
  font-weight: bold;
}

footer .BY {
  padding-top: 10px;
}

footer .BY span {
  color: var(--main-color);
  font-weight: bold;
}

footer .BY i {
  color: red;
}

/* end Footer */